<div class="center">
  <h4>Actualizar Ciudad</h4>
</div>
<div class="row">
  <div class="col s12 m6 offset-m3">
    <div id="div-message" class="hidden-element">
      <span id="span-message" class="white-text"></span>
    </div>
    <div id="div-progress" class="progress hidden-element">
      <div class="indeterminate"></div>
    </div>
  </div>
</div>
<div class="row">
  <form id="frm-modificarCiudad" class="col s12 m6 offset-m3">
    <div class="row">
      <div class="input-field col s12">
        <select name="select-departamento">
          <option value="" disabled selected>Seleccionar...</option>
          <% Departamento.all.each do |dep| %>
            <% if dep.id == @ciudad.departamento.id %>
              <option value="<%= dep.id %>" selected><%= dep.nombre %></option>
            <% else %>
              <option value="<%= dep.id %>"><%= dep.nombre %></option>
            <% end %>
          <% end %>
        </select>
        <label>Departamentos *</label>
      </div>
      <div class="input-field col s12">
        <input id="txt-codigo" type="text" name="txt-codigo" class="validate" value="<%= @ciudad.codigo %>">
        <label for="txt-codigo">Código *</label>
      </div>
      <div class="input-field col s12">
        <input id="txt-nombre" type="text" name="txt-nombre" class="validate" value="<%= @ciudad.nombre %>">
        <label for="txt-nombre">Nombre *</label>
      </div>
      <div class="input-field col s12">
        <input id="text-descripcion" type="text" name="txt-descripcion" class="" value="<%= @ciudad.descripcion %>">
        <label for="text-descripcion">Descripción</label>
      </div>
    </div>
    <div class="row">
      <div class="col s6">
        <input type="hidden" name="txt-id" value="<%= @ciudad.id %>">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <button type="button" class="btn" id="btn-modificarCiudad" onclick="modificarCiudad()">
          Actualizar <i class="material-icons right">edit</i>
        </button>
      </div>
      <div class="col s6">
        <a href="<%= ciudad_index_path %>" class="btn">
          Listar <i class="material-icons right">list</i>
        </a>
      </div>
    </div>
  </form>
</div>
